@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
body[data-theme='dark'] {
  margin: 0;
  font-family: 'Raleway', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(25, 25, 112), rgb(20 15 35));
}

body[data-theme='light'] {
  margin: 0;
  font-family: 'Raleway', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    to left,
    rgb(234, 221, 202),
    rgb(255, 222, 173)
  );
}

.logo {
  width: 2rem;
}

/* HOMEPAGE */

body[data-theme='dark'] .home {
  color: white;
  margin-top: 150px;
}

body[data-theme='light'] .home {
  color: black;
  margin-top: 150px;
}

.tech-stack-container {
  margin-top: 4rem;
}

.home-title {
  font-size: 2.5rem;
  font-weight: 900;
}

.home-center {
  display: flex;
  justify-content: center;
}

.tech-stack-row-container {
  margin-bottom: 2.5rem;
}

body[data-theme='dark'] .tech-stack-icon {
  display: table important!;
  padding: 1rem 5rem;
  border: 1.5px solid white;
  border-radius: 10px;
}

body[data-theme='light'] .tech-stack-icon {
  display: table important!;
  padding: 1rem 5rem;
  border: 1.5px solid black;
  border-radius: 10px;
}

body[data-theme='dark'] .tech-stack-icon:hover {
  box-shadow: 3px 4px 3px 2px white !important;
}

body[data-theme='light'] .tech-stack-icon:hover {
  box-shadow: 3px 4px 3px 2px black !important;
}

.social-media-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.social-media-row-container {
  margin-bottom: 2.5rem;
}

body[data-theme='dark'] .social-media-light {
  color: white;
}

body[data-theme='light'] .social-media-light {
  color: black;
}
/* RESUME */

.resume-row {
  display: flex;
  justify-content: center;
}

.downloadButton {
  width: 200px;
  margin-top: 30px;
}

/* FOOTER */

.footer {
  position: fixed;
  color: white;
  background-color: rgb(10, 4, 22);
  bottom: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 8px !important ;
}

.modifyFontsize {
  font-size: 0.9rem;
}
