@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
body[data-theme='dark'] {
  margin: 0;
  font-family: 'Raleway', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(25, 25, 112), rgb(20 15 35));
}

body[data-theme='light'] {
  margin: 0;
  font-family: 'Raleway', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(
    to left,
    rgb(234, 221, 202),
    rgb(255, 222, 173)
  );
}

.logo {
  width: 2rem;
}

/* HOMEPAGE */

body[data-theme='dark'] .home {
  color: white;
  margin-top: 150px;
}

body[data-theme='light'] .home {
  color: black;
  margin-top: 150px;
}

.tech-stack-container {
  margin-top: 4rem;
}

.home-title {
  font-size: 2.5rem;
  font-weight: 900;
}

.home-center {
  display: flex;
  justify-content: center;
}

.tech-stack-row-container {
  margin-bottom: 2.5rem;
}

body[data-theme='dark'] .tech-stack-icon {
  display: table important!;
  padding: 1rem 5rem;
  border: 1.5px solid white;
  border-radius: 10px;
}

body[data-theme='light'] .tech-stack-icon {
  display: table important!;
  padding: 1rem 5rem;
  border: 1.5px solid black;
  border-radius: 10px;
}

body[data-theme='dark'] .tech-stack-icon:hover {
  box-shadow: 3px 4px 3px 2px white !important;
}

body[data-theme='light'] .tech-stack-icon:hover {
  box-shadow: 3px 4px 3px 2px black !important;
}

.social-media-container {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.social-media-row-container {
  margin-bottom: 2.5rem;
}

body[data-theme='dark'] .social-media-light {
  color: white;
}

body[data-theme='light'] .social-media-light {
  color: black;
}
/* RESUME */

.resume-row {
  display: flex;
  justify-content: center;
}

.downloadButton {
  width: 200px;
  margin-top: 30px;
}

/* PROJECTS */
.project-container {
  margin-top: 6rem;
}

.project-row {
  margin-top: 2rem;
}

/* FOOTER */

.footer {
  position: fixed;
  color: white;
  background-color: rgb(10, 4, 22);
  bottom: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 8px !important ;
}

.modifyFontsize {
  font-size: 0.9rem;
}

/* BUTTON */

.button-23 {
  background-color: #ffffff;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    'Helvetica Neue', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow 0.2s, -ms-transform 0.1s, -webkit-transform 0.1s,
    transform 0.1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button-23:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow 0.2s;
}

.button-23:active {
  background-color: #f7f7f7;
  border-color: #000000;
  transform: scale(0.96);
}

.button-23:disabled {
  border-color: #dddddd;
  color: #dddddd;
  cursor: not-allowed;
  opacity: 1;
}
