@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
body {
  margin: 0;
  font-family: 'Raleway', serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(to left, rgb(25, 25, 112), rgb(20 15 35));
}

.logo {
  width: 2rem;
}

/* HOMEPAGE */

.home {
  color: white;
  margin-top: 150px;
}

/* RESUME */

.resume-row {
  display: flex;
  justify-content: center;
}

.downloadButton {
  width: 200px;
  margin-top: 30px;
}

/* FOOTER */

.footer {
  position: fixed;
  color: white;
  background-color: rgb(10, 4, 22);
  bottom: 0 !important;
  padding-top: 10px !important;
  padding-bottom: 8px !important ;
}

.modifyFontsize {
  font-size: 0.9rem;
}
